@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e3a8a;
  --secondary: #dc2626;
  --neutral-light: #f3f4f6;
  --neutral: #6b7280;
  --neutral-dark: #1f2937;
}

body {
  color: var(--neutral-dark);
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
